.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-app {
  padding-top: 30px;
  display: inline-block;
  text-align: left; 
}

input {
  font-size: 20px;
  font-family: monospace;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

li span.Todo-delete {
  visibility: hidden;
}

span.Todo-delete a {
  text-decoration: none;
  color: green;
}

li:hover span.Todo-delete {
  visibility: visible;
}

.Todo-footer a {
  padding-left: 2px;
  padding-right: 2px;
}